html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}

div {
  width: 150px;
  height: 150px;
  margin: 30px;
  display: inline-block;
  cursor: pointer;
  background-color: black;
  background-size: cover;
}

div:hover, div.auto-playing {
  background-color: white;
}


.instructions {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 5em;
  background-color: rgba(255, 255, 255, 0.75);
  top: 0;
  border-radius: 10%;
}

/* Instructions for mobile visitors */
.instructions .mobile {
  display: none;
}

@media(max-width: 1000px) {
  .instructions .mobile {
    display: block;
  }
}


/* Shapes */

.circle {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.triangle {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.diamond {
  -webkit-clip-path: polygon(50% 0%, 85% 50%, 50% 100%, 15% 50%);
  clip-path: polygon(50% 0%, 85% 50%, 50% 100%, 15% 50%);
  height: 200px;
  width: 200px;
  margin: 0 5px;
}

.star {
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/* Backgrounds */

.sky {
  background: linear-gradient(to bottom,  #87e0fd 0%, #05abe0 100%);
}

.sea {
  background: linear-gradient(to bottom,  #c9de96 0%, #8ab66b 44%, #398235 100%);
}

.bubble-gum {
  background: linear-gradient(to bottom, #fcecfc 0%, #fba6e1 37%, #fd89d7 60%, #ff7cd8 100%);
}

.fireball {
  background: linear-gradient(to bottom, #FFFF00 0%, #f85032 33%, #f02f17 55%, #ff0000 100%);
}

.sunset {
  background: linear-gradient(to bottom, #fcaa62 0%, #f85032 27%, #f02f17 44%, #c922c6 100%);
}

.cool-mint {
  background: linear-gradient(to bottom, #d2ff52 0%, #91e842 28%, #383cc1 100%);
}

.fuji {
  background: linear-gradient(to bottom, #ededed 0%, #c85ec7 47%, #a849a3 100%);
}

.rainbow {
  background: linear-gradient(to bottom, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, purple 100%);
}

.sideways-rainbow {
  background: linear-gradient(to right, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, purple 100%);
}

/* Background colours */

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}
